html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

img {
  width: 20vw;
  height: 16vw;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 0.75rem;
  border-radius: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  font-size: 15vw;
  font-weight: 500;
}

#name {
  margin-top: 3.5vh;
}

#logo {
  width: 30vw;
}

.menu {
  display: flex;
  margin: 3vw;
  margin-left: 4.2vw;
  margin-right: 4.2vw;
  padding: 2rem;
  text-align: center;
  border-radius: 20px;
  background-color: rgb(228, 228, 202);
  color: rgb(101, 149, 28);
  box-shadow: 1.2rem 1.2rem 0.2rem 0.1rem rgb(112, 165, 32);
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 auto;
}

h2 {
  font-size: 1.8vw;
}

h3 {
  font-size: 1vw;
}

.menu:hover {
  transform: scale(1.2);
}

.menu {
  transition: all 0.5s;
}
