html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 8rem;
}

.header {
  font-size: 28rem;
  font-weight: 500;
  margin: 80px;
}

#logo {
  width: 30vw;
  display: flex;
  justify-content: flex-end;
}

.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 30px 30vw;
  padding: 200rem, 5rem;
  padding-top: 30px;
  text-align: center;
  border-radius: 35px;
  background-color: rgb(101, 149, 28);
  color: antiquewhite;
}

img {
  width: 25vw;
}
